In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

%matplotlib inline

# Load and Verify Data

In [37]:
product_path = 'C:\\Users\\bxiao\\Documents\\project_files\\hm_viz\\hm_products.xlsx'
product_sheet = 'hm_products'

higg_file = 'C:\\Users\\bxiao\\Documents\\project_files\\hm_viz\\higg_msi_data.xlsx'
#higg_sheet = 'higg_msi_data'

In [32]:
product_df = pd.read_excel(product_path, sheets=product_sheet)
product_df.head()

,code,name,materials,factory_name,country,supplier_name
0,107727001,Washed Linen Bathrobe,"{""Linen"": 100}",Shanghai Donglong Home Textile Products Co.Ltd...,China,"SHANGHAI DONGLONG HOME TEXTILE PRODUCTS CO., ..."
1,107727001,Washed Linen Bathrobe,"{""Linen"": 100}","Yan Tai North Hometextile Co.,ltd",China,"YAN TAI NORTH HOME TEXTILE CO.,LTD"
2,107727002,Washed Linen Bathrobe,"{""Linen"": 100}",Shanghai Donglong Home Textile Products Co.Ltd...,China,"SHANGHAI DONGLONG HOME TEXTILE PRODUCTS CO., ..."
3,107727002,Washed Linen Bathrobe,"{""Linen"": 100}","Yan Tai North Hometextile Co.,ltd",China,"YAN TAI NORTH HOME TEXTILE CO.,LTD"
4,107727021,Washed Linen Bathrobe,"{""Linen"": 100}",Shanghai Donglong Home Textile Products Co.Ltd...,China,"SHANGHAI DONGLONG HOME TEXTILE PRODUCTS CO., ..."

In [39]:
higg_df = pd.read_excel(product_path, sheets=higg_sheet)
higg_df = pd.read_excel(higg_file)
higg_df.head()

               material  score                  category
0   BiComponent Coating     28  Coatings and Laminations
1  BiComponent Laminate     31  Coatings and Laminations
2   Microporous Coating     23  Coatings and Laminations
3  Microporous Laminate     26  Coatings and Laminations
4    Monolithic Coating     23  Coatings and Laminations

# Begin Extracting Materials

In [24]:
product_df.materials.iloc[0].split(':')

['{"Linen"', ' 100}']

In [18]:
json.loads(product_df.materials.iloc[0])

{'Linen': 100}